 <div class="container">    
        <div class="row">
            <div class="col-6"> 
                <input type="number" class="form-control border border-0 " id="number" placeholder="10"> <hr>
                    <div class="col ">
                        <input type="number" class="form-control border border-0 " id="number" placeholder="20"> <hr>
                    </div>                   
            </div>
            <div class="bg-info  border-start border-3 border-primary col-6 ">
                <div [ngStyle] = "{'font-size': '24px', 'color': 'white','text-align':'center','margin-top':'2em'}">
                    <p>Number1: 10 Number2: 20 </p>
                </div>                                   
            </div>       
        </div>
</div>
   
        
    
